body {
  background: url('../img/montaña.jpg') no-repeat center fixed;
  background-size: cover;
}
.logo{
  width: 10rem;
  margin-top: 4rem;
}
.slogan{
  font-style: italic;
  float: left;
  color: #fff;

}
.botonnav{
 width: 10rem;
  margin-top: 4rem; 
}
.boton{
  float: right;

}

  .img-contenido{
  float: left;
  width: 15rem;
  margin:0.5rem;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #76ff03;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
 [class*='image'] {
    float: none;
    width: 100%;
  }



@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
